/* src/components/HomePage/HeroSection/styles.css */

  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #312583; /* Utilisez la couleur d'arrière-plan appropriée */
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .hero-text {
    max-width: 50%; /* Ajustez en fonction de la maquette */
  }
  
  .hero-text h1 {
    color: #10D678;
    margin-left: 45px;
    margin-bottom: 0;
  }
  
  .hero-subtitle{
    margin-left: 45px;
    color:#FFFFFF;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .hero-description{
    margin-top: 0;
    color: #FFFFFF;
    display: block; /* Affiche l'élément comme un bloc */
    margin-left: 45px;
    width: 50%; /* Réduit la largeur de l'élément à 50% de son conteneur */
  }
  
  .spanTPF{
    color: #10D678;
    font-weight: bold;
  }



  .hero-btn {
    color: #FFF;
    background: linear-gradient(90deg, #FFCFAA 0%, #FA6EB9 100%);
    margin-left: 45px;
    margin-top: 20px;
    box-shadow: 0px 20px 40px 0px rgba(252, 160, 177, 0.70);
    padding: 19px 23.841px 16.39px 42px;
    border: none; /* No border */
    border-radius: 4px; 
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 27.2px; /* 170% */
    text-decoration: none;
    cursor: pointer; 
    display: inline-block; 
    transition: background-color 0.3s, box-shadow 0.3s; 
  }
 .hero-btn a {
  color: #FFFFFF;
  text-decoration: none;
 }
  .hero-btn:hover {
    color: white;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3); /* More pronounced shadow on hover */
    background-image: linear-gradient(to right, #6042F4, #10D678); /* Different gradient on hover */
  }
  
  .hero-btn .fa-arrow-right {
    margin-left: 10px; /* Ajoute un peu d'espace entre le texte et l'icône */
    
  }

  
  .hero-image {
    max-width: 50%;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    display: block; /* Cela enlèvera tout espace en-dessous de l'image */
  }
  
