/* src/components/HomePage/HeroSection/styles.css */

  
  .hero-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #312583; /* Utilisez la couleur d'arrière-plan appropriée */
  }
  
  .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .hero-text {
    max-width: 50%; /* Ajustez en fonction de la maquette */
  }
  
  .hero-text h1 {
    color: #10D678;
    margin-left: 45px;
    margin-bottom: 0;
  }
  
  .hero-subtitle{
    margin-left: 45px;
    color:#FFFFFF;
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  .hero-description{
    margin-top: 0;
    color: #FFFFFF;
    display: block; /* Affiche l'élément comme un bloc */
    margin-left: 45px;
    width: 50%; /* Réduit la largeur de l'élément à 50% de son conteneur */
  }
  
  .spanTPF{
    color: #10D678;
    font-weight: bold;
  }
  
  .hero-image {
    max-width: 50%;
  }
  
  .hero-image img {
    width: 100%;
    height: auto;
    display: block; /* Cela enlèvera tout espace en-dessous de l'image */
  }
  
